html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* basic color setup */
:root {
  --primary-color: "linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%)";
  --primary-bg: #feeae9;
  --yellow-color: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
  --pink-bg: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  --blue-bg: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
  --white-bg: #ffffff;
  --gray-bg: #f4f4f4;
  --gray-color: #707070;
}

/* NAVBAR STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 65px;
}

.search input {
  background-color: #f1f1f1;
  padding: 12px;
  border: none;
  border-radius: 66px;
  width: 20rem;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-item {
  list-style: none;
  color: var(--gray-color);
  font-weight: 500;
}

/* RESPONSIVE MOBILE STYLES  */
@media only screen and (max-width: 576px) {
  /* NAVBAR STYLES */
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .menu-items {
    flex-direction: column;
  }
}

/* RESPONSIVE TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* NAVBAR STYLES */
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .menu-items {
    flex-direction: column;
  }
}
