html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* basic color setup */
:root {
  --primary-color: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  --primary-bg: #feeae9;
  --yellow-color: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
  --pink-bg: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  --blue-bg: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
  --white-bg: #ffffff;
  --gray-bg: #f4f4f4;
  --gray-color: #707070;
}

/* NAVBAR STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 65px;
}

.search input {
  background-color: #f1f1f1;
  padding: 12px;
  border: none;
  border-radius: 66px;
  width: 20rem;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-item {
  list-style: none;
  color: var(--gray-color);
  font-weight: 500;
}

/* CAROUSEL STYLES */
.carousel {
  /* background-image: url("../images/banner-images/tv.png");
  background-repeat: no-repeat; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: var(--primary-bg);
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: 700px;
  border-radius: 20px;
}

.carousel-details {
  padding: 68px;
}

.carousel-title {
  font-weight: 700;
  font-size: 3.5rem;
  color: #1f1f1f;
}

.carousel-subtitle {
  color: #4e4e4e;
}

.carousel-price {
  font-weight: 500;
  font-size: 2.5rem;
  color: #ff136f;
}

.buy-btn {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  padding: 16px 28px;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}

.carousel-img {
  margin-left: 270px;
}

.carousel-img img {
  width: 100%;
}

/* CATEGORIES STYLES */
.categories {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 64px;
}

.title {
  font-weight: 600;
  font-size: 2.25rem;
  color: #1f1f1f;
  margin-bottom: 24px;
}

.categories-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

.item1 {
  background: var(--yellow-color);
}
.item2 {
  background: var(--pink-bg);
}
.item3 {
  background: var(--blue-bg);
}
.categories-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 15px 48px;
  width: 100%;
}

.categories-title {
  font-weight: 500;
  font-size: 2rem;
  color: var(--white-bg);
}

/* SHOES STYLES */
.shoes {
  background: #f4f4f4;
}
.shoes-info {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  /* margin-top: 64px;
  margin-bottom: 64px; */
}

.shoes-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  margin-bottom: 50px;
}

.shoes-details-title {
  font-weight: 600;
  font-size: 2.25rem;
  color: #1f1f1f;
}

.shoes-details-see {
  text-decoration: none;
  color: #ff9d00;
}

.shoes-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-bottom: 64px;
}

.shoes-item {
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 24px;
}

.shoes-item img {
  width: 100%;
  max-width: 500px;
}

.shoes-item-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: #1f1f1f;
  margin-bottom: 1rem;
}

.shoes-item-subtitle {
  color: #4e4e4e;
  margin-bottom: 1rem;
}

.shoes-item-price {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin-bottom: 1rem;
}

.shoes-btn {
  background: #000000;
  border-radius: 6px;
  font-weight: 500;
  color: #ffffff;
  padding: 16px 28px;
  border: none;
}
/* FOOTER STYLES     */
.footer {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  background: var(--primary-bg);
  border-radius: 20px;
  padding: 146px 264px;
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: center;
}

.footer-title {
  font-weight: 600;
  font-size: 1.85rem;
  color: #1f1f1f;
}

.footer-subtitle {
  font-weight: 500;
  margin-bottom: 1rem;
  color: #707070;
}

.footer-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-subscribe input {
  height: 53px;
}

.footer-subscribe input[type="text"] {
  width: 300px;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

.sub-btn {
  padding: 20px 48px;
  background: var(--pink-bg);
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 0 5px 5px 0;
  margin-left: -10px;
  cursor: pointer;
  height: 53px;
}

/* RESPONSIVE MOBILE STYLES  */
@media only screen and (max-width: 576px) {
  /* NAVBAR STYLES */
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .menu-items {
    flex-direction: column;
  }
  /* CAROUSEL STYLES */
  .carousel {
    flex-direction: column;
  }
  .carousel-title {
    font-size: 2.5rem;
  }
  .carousel-img {
    margin-left: 0;
  }
  /* CATEGORIES STYLES */
  .categories {
    margin-top: 250px;
    padding: 10px;
  }
  .categories-items {
    flex-direction: column;
  }
  /* SHOES STYLES */
  .shoes {
    padding: 15px;
  }
  .shoes-items {
    flex-direction: column;
  }
  /* FOOTER STYLEs */
  .footer {
    padding: 20px;
  }
}

/* RESPONSIVE TABLET STYLES */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* NAVBAR STYLES */
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .menu-items {
    flex-direction: column;
  }
  /* CAROUSEL STYLES     */
  .carousel {
    flex-direction: column;
    gap: 0;
  }
  .carousel-img {
    margin-bottom: 1390px;
  }
  .carousel-img img {
    object-fit: cover;
    width: 50%;
  }
  /* CATEGORIES STYLES */
  .categories {
    padding: 10px;
  }
  .categories-items {
    flex-wrap: wrap;
  }
  /* SHOES STYLES */
  .shoes {
    padding: 15px;
  }
  .shoes-items {
    flex-direction: column;
  }
  /* FOOTER STYLEs */
  /* .footer {
    margin: 20px;
  } */
}
